:root {
  --primary-color: #21c08b;
  --secondary-color: #ab88ff;
  --primary-font-size: 1.4rem;
  --secondary-font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient(#21c08b, #ab88ff);
}

.login__container {
  min-height: 650px;
  width: 350px;
  padding: 60px 40px 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
}

.login__container h2 {
  font-size: 2.6rem;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: var(--primary-font-size);
}

.login__container--remember-me {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  font-size: var(--primary-font-size);
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--primary-font-size);
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: var(--primary-font-size);
}

.login__container--register a {
  font-size: var(--secondary-font-size);
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  height: 50px;
  margin-bottom: 20px;
  padding: 0px 20px;
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  outline: none;
  font-size: var(--secondary-font-size);
}

::placeholder {
  color: white;
}

.button {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: var(--secondary-font-size);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--secondary-color);
}

.footer a {
  padding-left: 30px;
  font-size: var(--primary-font-size);
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
  }
}
