$primary-color: #21c08b;
$secondary-color: #ab88ff;
$primary-font-size: 1.4rem;
$secondary-font-size: 1.6rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

.flex{
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  @extend .flex;
  justify-content: space-between;
  background-color: $primary-color;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.signup {
  @extend .flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient( $primary-color, $secondary-color);
}

.signup__container {
  min-height: 650px;
  width: 350px;
  padding: 60px 40px 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
}

.signup__container h2 {
  font-size: 2.6rem;
}

.signup__container--form {
  display: flex;
  flex-direction: column;
}

.signup__container--form label {
  font-size: $primary-font-size;
}

.signup__container--login {
  @extend .flex;
  justify-content: center; 
  margin-top: 50px;
}

@mixin link{
  font-size: $primary-font-size;
  text-decoration: none;
  cursor: pointer;
}

.signup__container--login a {
  @include link;
  font-weight: bold;  
}

.signup__container--login a:hover {
  text-decoration: underline;
}

.input {
  height: 50px;
  margin-bottom: 20px;
  padding: 0px 20px;
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  outline: none;
  font-size: $secondary-font-size;
  font-weight: bold;
}

::placeholder {
  color: white;
}

.button {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: $secondary-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0;
}

.footer {
  @extend .flex;
  height: 100px;
  width: 100%;
  background-color: $secondary-color;
}

.footer a {
  padding-left: 30px;
  @include link;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
  }
}
